:root {
    --color-blue: #b2FCFF;  
    --color-white:#FFFFFF;  
    --color-black1: #272727; 
    --color-black2:#2d2d2d;
    --color-black3:#414141;
    --color-black4:#1c1c1c;
    --color-black5:#343434;
    --color-purple: #b040ff;

    }
  
  *{
    margin: 0;
    padding: 0;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--color-black1) ;
    color: var(--color-white);

  }

  .logo_header{
    width: 45px;
  }

  .header, .navigation_header{
     display: flex;
     flex-direction:row;
     align-items: center;

  }

  .header{
    background-color: var(--color-black2);
    box-shadow: 1px 1px 4px var(--color-black4);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
    box-shadow: 0px 10px 85px rgba(255, 255, 255, 0.292);
  }

  .navigation_header{
    gap: 3em;
  }

  .navigation_header a{
    text-decoration: none;
    color: var(--color-blue);
    transition: 1s;
    font-weight:  bold;
  }

  .navigation_header > a:hover{
    background-color: hsla(209, 95%, 69%, 0.26);
    padding: 10px;
    border-radius: 4.5px;
  }

  .active{
    background-color: var(--color-black3);
    padding: 10px;
    border-radius: 4.5px;
  }

  #conteudo{
    display: block;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 70vw;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px  #b2fcff38;
    padding: 5px;
    
  }
  #conteudoM{
    display: block;
    background-color: rgba(255, 255, 255, 0.906);
    color: black;
    width: 80vw;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px  #b2fcff62;
    padding: 20px;
  }

  #conteudoM > h1{
    color: #0c6fcb;
  }
   #conteudoM > h2{
    color:#64B3FB ;
   }

   div#conteudoM > p#introducao{
    font-size: 21px;
   }


  .logo_texto{

  }


  .violao_deitado{
    
  }