:root {
    --color-blue: #b2FCFF;  
    --color-white:#FFFFFF;  
    --color-black1: #272727; 
    --color-black2:#2d2d2d;
    --color-black3:#414141;
    --color-black4:#1c1c1c;
    --color-black5:#343434;
    --color-purple: #b040ff;

    }
  
  *{
    margin: 0;
    padding: 0;
  }

  div.fundo{
    background-color: black;
    background-image: url(Imagens/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    width: 100%;
    color: black;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--color-black1) ;
    color: var(--color-white);
    min-height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
    display: flex; /* Usa flexbox para facilitar o posicionamento */
    flex-direction: column; /* Define a direção dos elementos como coluna */
  }
  
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 40;
  }
  p{
    font-size: 24px;
  }

  .logo_header{
    max-height: 50px; /* Ajustar o tamanho da logo */
    margin-right: 20px; /* Espaço entre a logo e o menu */
  }

  .header, .navigation_header{
     display: flex;
     flex-direction:row;
     align-items: center;

  }

  .header{
    background-color: var(--color-black2);
    display: flex; /* Usar flexbox */
    align-items: center; /* Alinhar verticalmente */
    justify-content: flex-start; /* Alinhar à esquerda */
    height: 3.5em;
    padding: 10px 20px;
    box-shadow: 0px 10px 85px rgba(255, 255, 255, 0.292);
    position: sticky;
    top: 0;
  }

  .navigation_header{
    gap: 3em;
  }

  .navigation_header a{
    text-decoration: none;
    color: var(--color-blue);
    margin-right: 15px; /* Espaçamento entre links */
    transition: 1s;
    font-weight:  bold;
  }

  .navigation_header > a:hover{
    background-color: hsla(209, 95%, 69%, 0.26);
    padding: 10px;
    border-radius: 4.5px;
    text-decoration: underline; /* Efeito hover */
  }

  .ativo{
    background-color: var(--color-black3);
    padding: 10px;
    border-radius: 4.5px;
  }

  div#active{
    background-color: var(--color-black3);
    border-radius: 4.5px;
  }

  #conteudo{
    display: block;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 70vw;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px  #b2fcff38;
    padding: 5px;
    font-size: 20px;
    
  }
  


   button.butao{
    background-color: rgba(147, 145, 145, 0.288);
    color: black;

    border: black solid 1px;
    border-radius:5px ; 
    
    padding: 1px 5px 1px 5px;

    font-size: 18px;

    transition: 0.4s;
  }

  .butao:hover{
    background-color: #0c6fcb61;
    color: black;
    transition: 0.4s;
    font-size: 18px;
  }

  div#butoes{
    margin-top: 15px;
    margin-bottom: 10px;

    text-align: center;
    font-size: 18px;
    
  }
  /* começo da edição das músicas */
  .musica{
    background-color: rgba(0, 0, 0, 0.233);
    
    height: auto;
    width: 300px;
    margin: 5px;
    
    padding: 3px;

    display: inline-block;

    border-radius: 5px;
  }

  .cifras{
    font-size: 4em;
  }
  
  .cifras > a{
    color: black;
    text-decoration: none;
  }
  
  #conteudoM{
    display: block;
    background-color: rgba(255, 255, 255, 0.906);
    color: black;
    width: 80vw;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px  #b2fcff62;
    padding: 20px;
  }

  pre{
    font-size: 18px;
  }
  /* fim da edição das músicas */

  footer{
    position: relative; /* Cola o rodapé na parte inferior da página */
    background-color: black;
    color: white;
    bottom: 0; /* Posiciona na parte inferior */
    left: 0; /* Posiciona na borda esquerda */
    width: 98.95%; /* Ocupa toda a largura */
    padding: 10px; /* Adiciona um padding interno */
    text-align: center; /* Centraliza o texto */


}